<!DOCTYPE html>
<html>
  <head>
    <title>设置调查问卷链接</title>
  </head>
	<script charset="utf-8" src="${ctx}/static/js/complaints/jquery-1.11.3.min.js"></script>
  <script type="text/javascript">
  function setSurvey() {
		var survey = document.getElementById("survey").value;
		$.ajax({
	        type:"POST", //请求方式
	        url:"${ctx}/portal/survey/setSurvey",//请求路径
	        data:{"survey":survey},
	        async: false,
	        cache: false, 
	        dataType: 'json',
	      	success:function(data){   
	    	  	var json = eval(data);
	    	  	if(json.code == 0) {
	        		alert("操作失败");
	        	}
	    	  	if(json.code == 1){
	    	  		$('#survey').val(json.survey);
	    	  		alert("修改成功！");
	    	 	}
	        },
	      error: function(){
	          alert("连接失败，请检查网络！");
	      }
	   });
	}
  </script>
  <body>
   
    	调查问卷链接:	
    	<input type="text" name="survey" id="survey" value="${surveyURL}" style="width: 300px;">&nbsp;
    	
   
    <input type="submit" value="修改" onclick="setSurvey()">
    
  </body>
</html>
